@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.ExpertTeam {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #2a3243;
}

.Expertise {
    font-size: 3.40rem;
    font-weight: 700;
    /* color: #1a202c; */
    color: #1d3750;
    margin-bottom: 2rem;
    margin: 0;
    margin-top: 2rem;
}
.title{
    font-size: 20px;
    font-weight: 700; 
    
}
.text-lightbluew{
    color: #1d3750;
  }
  .text-base{
    padding-top: 10px;
    font-size: 18px !important;
  }